@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@layer base {

    html,
    body {
        overflow: hidden;
        -webkit-tap-highlight-color: transparent;
    }

    body {
        color: white;
        background-color: black;
    }
}

@layer components {
    .sideBarLink {
        @apply text-gray-400 ml-4 cursor-pointer hover:text-white transition w-fit;
    }

    .sideBarLinkActive {
        @apply text-white
    }

    .sidebarActive {
        @apply text-white font-bold
    }
}

.mainSection {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 2px solid;
    border-color: transparent #FFF;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 24px solid;
    border-color: transparent rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.logoHead {
    font-family: Arial, Helvetica;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 10px;
}
